@font-face {
    font-family: "ugly";
    src: url("../../static/font/Ugly Byte Free Trial-80da.woff") format("woff"),
    url("../../static/font/Ugly Byte Free Trial-d5a7.woff2") format("woff2");
    unicode-range: U+0061-007A;
}

@font-face {
    font-family: 'dosSam';
    src: url("../../static/font/DOSSaemmul.ttf");
    unicode-range: U+AC00-D7A3;
}

@keyframes blink-effect {
    50% {
        opacity: 0;
    }
}

* {
    color: white;
    font-family:'NeoDunggeunmo' ;
}

body {
    /*font-family: 'ugly', 'dosSam';*/
    margin: 0;
    background-color: #9c5505;
    border-style: solid;
    border-width: 80px 80px 80px 80px;
    border-image: url('../../static/image/source/outer.png') 100 round
}

@keyframes fade_in_left {
    0% {
        opacity: 0;
        transform: translate3d(0, 100%, 0);
    }
    to {
        opacity: 10;
        transform: translateZ(0);
    }
}

.ani_fade_in_left {
    position: relative;
    animation: fade_in_left 4s;
}

.text_box {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.old_Boy {
    overflow: hidden;
    position: relative;
    font-style: normal;
    font-weight: 200;
    font-size: 150px;
    color: #FFFFFF;
}

.flex {
    display: flex;
    justify-content: space-around;
}

.stageimg {
    width: 100vw;
    height: 80px;
}

.fixed {
    z-index: 10;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
    left: 0;
    margin: 0 0 30px 0;
    width: 100%;
}

.charimg {
    bottom: 0px;
    z-index: 6;
    width: 110px;
    height: 110px;
    display: none;
}

.wrap_teamIntro, .wrap_teamGoal, .wrap_teamRule, .wrap_Member {
    position: relative;
    margin: 500px auto;
    width: 1000px;
    height: 700px;
    /*background-color: skyblue;*/
    background: #714101;
    border: 20px solid #b46d11;
    border-radius: 5px;
    box-shadow: 0 0 0 6px #693800 inset, 0 0 0 3px #240200;
}

.wrap_teamIntro {
    margin-top: 1500px;
}


.img_team, .img_member {
    background-color: gray;
    width: 300px;
    height: 400px;
    margin: 40px 0 0 70px;

    border: 3px solid #150100;
    border-radius: 3px;
    box-shadow: 0 0 0 1px grey inset;
}

.content_team {
    display: flex;
    width: 1000px;
    margin-top: 60px;
}

.title_team {
    width: 600px;
    height: 100px;
    margin: 40px 0 0 30px;
}

.title_team > h2 {
    font-size: 40px;
}

.desc_team {
    width: 400px;
    height: 400px;
    margin: 5px auto 5px auto;
}

.title_member {
    /*background-color: aqua;*/
    width: 400px;
    height: 30px;
    margin: 10px auto 20px auto;
    font-size: 30px;
    text-align: center;
}

.name_member {
    /*background-color: blueviolet;*/
    width: 600px;
    height: 30px;
    margin: 5px 150px 0 230px;
    font-size: 50px;
    text-align: center;
}

.content_member {
    margin-top: 10px;
    display: flex;
}

.desc_member {
    /*background-color: darkorange;*/
    text-align: center;
    width: 500px;
    margin: 30px 0 0 50px;
    font-size: 40px;
    text-align: left;
    padding-left: 0px;
}

/* 멤버카드 우하단 아이콘 */
.icon_member {
    position: absolute;
    right: 0;
    width: 70px;
    height: 70px;
    bottom: 10px;
}

.icon_member_textbox {
    width: 50px;
    height: 50px;
    position: absolute;
    bottom: 5px;
    right: -60px;
    display: none;
}

.blog_link {
    width: 70px;
    height: 70px;
}

/*3D Rotate 구현*/
.card_box {
    width: 300px;
    height: 400px;
    margin: 40px 0 0 150px;
    margin-bottom: 10px;
    /*perspective: 300px;*/
}

.card_box .item {
    width: 300px;
    height: 400px;
    border: 7px solid #cdba98;
    box-shadow: 0 0 0 3px #897654 inset, 0 0 0 1px #fefefe;
    border-radius: 2px;
    font-size: 35px;
    backface-visibility: hidden;
    transition: 1.5s;
}

.card_box .item.front {
    position: absolute;
    transform: rotateY(0deg);
}

.card_box:hover .item.front {
    transform: rotateY(180deg);
}

.card_box .item.back {
    transform: rotateY(-180deg);
}

.card_box:hover .item.back {
    transform: rotateY(0deg);
}

.hp_bar {
    width: 300px;
    height: 30px;
    margin: 15px 0 0 150px;
    /* div 이미지 넣기 */
    background-image: url("../image/source/hp_4.png");
    background-position: center;
    background-size: cover;
}

.mp_bar {
    width: 300px;
    height: 30px;
    margin: 15px 0 0 150px;
    /* div 이미지 넣기 */
    background-image: url('../image/source/mp_4.png');
    background-position: center;
    background-size: cover;
}

.stageimg {
    z-index: 3;
    width: 100vw;
    height: 80px;
}

.item {
    z-index: 1
}

/*  백그라운드 이미지 넣기 용도  */
.hp_1 {
    background-image: url('../image/source/hp_1.png');
}

.hp_2 {
    background-image: url('../image/source/hp_2.png');
}

.hp_3 {
    background-image: url('../image/source/hp_3.png');
}

.hp_4 {
    background-image: url('../image/source/hp_4.png');
}

.hp_0 {
    background-image: url('../image/source/hp_0.png');
}

.mp_1 {
    background-image: url('../image/source/mp_1.png');
}

.mp_2 {
    background-image: url('../image/source/mp_2.png');
}

.mp_3 {
    background-image: url('../image/source/mp_3.png');
}

.mp_4 {
    background-image: url('../image/source/mp_4.png');
}

.mp_0 {
    background-image: url('../image/source/mp_0.png');
}

/*  폰트 관련  */
.desc_team > li {
    margin: 20px 0 20px 0;
    padding-top: 50px;
}

/* 카드 이미징 관련 */
.sizing {
    width: 300px;
    height: 400px
}

/* 처음 애니매이팅과 음악을 담당하는 버튼 */
.game-start {
    display: block;
    width: 400px;
    margin: 500px auto 0 auto;
    text-align: center;
    font-size: 50px;
    text-decoration: underline;
    text-underline-position: under;
    animation: blink-effect 1s step-end infinite;
}

.paused {
    animation-play-state: paused;
}

.wrap_btn {
    width: 110px;
    position: center;
    margin: 80px auto;
}


.img_team_intro {
    background-image: url('https://assets.bwbx.io/images/users/iqjWHBFdfxIU/iLv_RjqD_d78/v0/1200x-1.jpg');
    background-position: center;
    background-size: cover;
}

.img_team_goal {
    background-image: url('data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wCEAAoHCBYVFRgWFhYZGRgaHBwcHBgaHRgYGhocIRoaGhocGhwcIS4lHh4rHxwYJjgmKy8xNTU1GiQ7QDs0Py40NTEBDAwMEA8QHhISHzcrJCs2NDQ0NDQ0NDQ0NDQ0NDQ0NDQ0NDQ0NDQ0NDQ0NDQ0NDQ0NTQ1NDQ0NDY0NDQ2ODQ/Pf/AABEIAMIBAwMBIgACEQEDEQH/xAAcAAABBQEBAQAAAAAAAAAAAAAAAgMEBQYBBwj/xAA/EAACAQIEAggEBAQEBgMAAAABAgADEQQSITEFQQYiUWFxgZGhE7HR8BQyUsEVQuHxByOSk1RicoKi0lNVwv/EABoBAAIDAQEAAAAAAAAAAAAAAAACAQMEBQb/xAAsEQACAgEEAgICAgAHAQAAAAAAAQIRAxIhMUEEURMiMmEUoRUjUoGRweEF/9oADAMBAAIRAxEAPwDxmEIQAIQhAAhCEACEIQAIQhAAhCEACEIQAIQhAAhCEACEIQAIQhAAhCEACEIQAIQhAAhCEACEIQAIQhADsJtK1IMlhIXwMotpMy8lPo0vx37MxC00T35WjKDMCTylizfoX4d6so4S4xAFrROGZSbSfk2uiPi3qyptCXVbDXIMCtvsSPlQPC0Uk7aW7uRaPmmBraDy10HxfsoYS4NIFpODC32LQeWuhHFLszE7L51tr9ZBrPrtGU76K7K6Eks9/wCn0hYchtzuI1gRrQj7RIa0kkahLCjVP3adqNe2225/taRqIsr50CTUqWv+4vLHh+OCt++piym0roshFSdXRQWnbT1HhXEEKEWU/fvNLw+ouUdUekxS8/S6cf7NX8Ntcng9oT6Vw2JUfyj0Es6JRgDlHoJbj8yEzPPDKHJ8rzs+rAi/pHoJ34S/pHoJqTT4ZSfKU5Pq74S/pHoJx6agE5R6CS9lYJnynC0+l8ZUR1ICj0EoMc4RRlAHkJz5/wD0Ixe0b/3NePxZSW7o8HtCe1/HP/L6CET/ABNf6f7/APCz+E/f9GLZsqi8rq1dWvaTcaepK2hStdmk40qtjybO0sPe9zvF/BCixPmY7RqqdozxMXURk25UxG0laI1SmDzjeHw1mvFrh9rR+mhEtcqVIVJN2wqVQuhkR+ttFYqmWNgLyTh0CAaa72+/lBVFX2RJtvc5SwWaxJIGklZB2+HhOhr+P39+UTlG5Ilbk3yVyl6Esi6lvGNVnVQo1zMOqq2B12LE7amFcg+HO/ZzjOKW9ZlJA13bQZbae3KWRXsnFG4uVW7Sr/sRiKLouZhppexU25axutTstPKCWe/sbC0fY02Q01e1tSSLByO/l3RysR1KYAvlHWYkZCbnT5yxN+jU/GxJNpqqXd73wQHw7J+cEHvFvQzmOpBKhS/VGXU62BAJ8d5JxNYELSUl+sCWJvdttL8ovHV0NQqycwC4uW0AGg8rRk3e6EeDEoumuVz77WxFfhraFDnU/wAy/Ig7TtbA5RTB6rNe5Ow10Om2knU3LCy0SVXQC7DxJtuSdY6tRWJAVLqqgZhpfXMOt4+0Vza5NK8bC1a5dVfHt0V1LBlXCHckC+4tuCLHUGSMKquSrKSATqDlAUaEnv7o4g/zA5ZWKqxIXYADQA+JnMKabAUwXsbk7AbX1NrmQ22hMfjwU06XLpNrjog18OUIzKct9D2jxGl7RWIoqqqyklGva+4I3UwxFVMoCh7X0DEFe+w7YvF9Wmic7lyP0gjQHyj29rM7jBa64StP074sk8PxuUjuO9z7zccIx9wNdfEajt0E81ptaajgFQXAN7ctdvIzF5eFONlmDI3sz07AIzLNDhUsoEz3Bq4tYctJcPV6yi8w4Wo7sM6lJ0WIWLAjaNHZ2cCi1qRzpbBExUJpIKKrRK5ge0zNcWVraCaDpPVZB1Ta9platV9ibzzfkR05GvR2MDbhb7KHLV/5oS51hF+X9IuMTh7liCbiFVSAZJFFEBMj/FRr2M6Sdu1wYX6IeGq2YLaTsTh841jCYVSwa50kyvUyDWTJ21p5FSpUyBUp25yM6m17x962fYRxMMMtjLE9PINXwIoU7KDz0MXUe1yPXz0jtVgLL6CN1LSE7ZVJCFqcydT96x2oQup1J27o2GyjN7/SMPUt1m/Mf5dh59sZRtmeUuhrE1Nba3tGa1ZmUKbG2xtdgP0g9kQ7X/fT95M4fhrdd9LA27z4S7aKsIycU0nzyIFMKNRr2fWQ8VWLsWJ1PlyttO42rmY22EZSmTfujRXbCLdV0OYJiHUruDcX19pcYXA3NzqSST84zwrC6X7/AL/aajBYXS8zZ8tOkXxvTT45K7+HjQ2OhuBt98pGxHDzY31bcjvvf6+003wpDx6jUja2vkJnjkkmO23HS+OTHOpAIW4vcNbx29bSZhsSiLrprci1ywtoL8hvEY9NSRz175DV7m33t/UzclqjuJjzSwytb9b9HMPWK5ioW+4uLlfDvtb0iL3DMTc8yd9Yheqw0/rFkWuBtY+23nb5yyivXJqm9vQ0jS44dVINt+y8pmW0n8PqWP393iZI3EtwSqR6R0exoJAG/Mb+/Oa+krMQwnn/AAVMxDowz811F/oZ6FwnFBkW4OYCzC1iD9JxpRWtpG6bqNosqTPJdN7i9jEOnVPhOiqFUHlab8F439nSo5snq6HS8gVeKqpy5Wv5CP8A4xG2N/CM1+HhiG5iNkzTb/y3Y2OMU/uij6QlqwFha2wmdxJZZsuJKEFzMnjgH/LOTmcnO5cnRwtOKrgrPiv2zsk/gpyLaLjK4oXQ+Eh4eiCo5SxXrLrzjLoqidGMqWkwNbiUpgc43jRmAsb8okupvDB6qT3xqr7BZHVMi66x+m9za3y84jE7TmBc3ufIfvHe6sXVTocxAtY6X+XfEJT119Y86Zjc/Wcq2Vfv75e0hPoSe25DxT9buF7dhYDU+X3vIAa2+t+XdH62l7+HzufvtkWq1gANb318f7zVBbGRrccV78rd/Z9bRzE1rDS/jGaY0v8AZEaqNmPrf5R63BIYMm0KZKgAdpJ2vytG8Lh8z25b/wB5qOFYJWFyAPHaJmyqKLYRchfDXpIAGYA+VhpNHQdCOqwPgb/KUGNwFAa3XN2bR3h1FTbLuZgm1+W5fFN7FvSp3ex2JA94zxgBQw8b7RGKxGQ89CCL6bG8znE+LM7tl1v9JEIuT2CX1IeKQ+WntK9NGN/v70kk13bQq1u220hPUJOvO83wTSozSdsU63Fjvy+/CNu+n33fflFs97+FxGKjcpciEcDaRyk8aAnVg0Ombjo1WcgEZd9zccveeicKDMwaxGgBYdYaaD/tN9v6zyvoxigCQb7ac7Htt5T1zgVfMg0ym23qB5aX7px88dOU6KlcLRog9xbu5bGZd+KKA9Cr1SL2v/MvKxlmMdlZtNAdR2DKDfu1vpOY3h6YhAzIGO47YZZvKlXRnjHR+XDIXCK6aJT5787TTgSr4bwynQXqLl7ZM+ONddpd40lhT1csqzPW/qRuMUM6WEzGJpCmBcazWo+ZLzO8c0F+yZfKSk9S7NXiya+pV5x2QlevEz2QmTTI2Gac5E05SuOKLki0nVXDAqDrItOhluRvOpCqd8mBjlCgNb84vEMqLtpG8PWZuU7xEXWTvqpkdbDNNg4vlsBveLpoCbjSLpgZRFqwHkD7C8lvpEIZqMRb+8RXbS5t984+65rEbfdt43iaewPP9x/eTHoWSsosS+Y6aDXt17/lGaiba/OSHS7abfteR6puZuj+jPJUxaVAB3nQDsH9TedWna/b/WMbGT6C5iltdQPMk3I9IS2FXJacIwByu9u4C3d7S+pcIVgqsxsNcubLfwsZbYLhd1AtYksWPht8pLrYVQDfXx9pzZTlJtmzSoqjH8R6OgtcZgB/LoF0vY6HfUnzPbJ3R3hTK46x6tybbWOgHrJ7UVJCgDXvNvS80vDsAKYA57kw1zktLewKKTtGQ6cVcllUa9soeGqaWpp59MxY7dthzJtysNpadMXLVQOQMXgyxAsB6/3lmpRjVFcrszmN4zmN8hT75ysxDZiCBa+s13EsE7i2VRfe9vXT6SgxFAJoLXtvuJdinHpUyuSfZTZpy8GOs4JrEFQG87fT0grawJRccNf4dRWG1rH27vCep0OJIqBlXUWNhsV39BPJ8Gxa+m4A7r/Ui81fASzqq59la/aAG2PdsfKczzIX9vR0cNVR6FRxCu97aMnWH/MctvOwtLvDuAl+zlM5wxFVBve2531AMslxi/lG5ExY56XYZceqkhb8RZmKgSVhiNSecqkUKSecThcYx3tIWR6rYSxJqkWmPxwpja/cJVYiurjVfIw4nUJKc9ZxnXnIyTcmPigopPsg/wAPTsEJK/EpOSvYts8uwrXY6HadrmTKrZVJAlYuLZtSotOmrlujCyIldg4A2vLwi41F5CpgE3sI5jXKqLSZvU0kQlQVXsRppI7VbqTbtGnmJHw7s2plhQS2kZpQ5BbiqQIRb92nvEY8Wv8AfIW9jH3OoHaf2kfGHq8t/wBr/tEjvKySpq9Ve/QfP6e8ifD/AH+UlVtQdew+G/19pHRuqT4n79JujwZZbvcjHUyy4QOug55h8zpK1T2f1v3SXwqparT/AOoD10Eaa+rFj+SPZqb5ADyImZ41xm3VXUk2HOXT1AyKO79pjqVZA5dhdixCj9IBtp3mxnKhubpNI0fR3DhevX3Nip3Cf121mkq45EQkMCTse6YqhxFr31yjx13FvC59hKziPEnBsLgdrA73uCRGSbdIW12O9IqgLb6k6nskTC8SWkwW+Ze3smcxuKd2JZifb+07g8SF3+s1rA1Hcpc02bTEYoMt+2ZfiO5Em0HuhKm4HfKfF1CWiYYVJky/EgtvOQaE3mcWh7o4osRr3Hw29x84iluAdjFuuv36xWNFFjww2Njtpf35eBmh4BiBTqsv8pzLftUm4Mz3DQde0Wt38h+0nmqxy67lfXUH9pjzLVaOhi/FHodHFkBQOZtJdNmzjSwA3lPwpuopJvsfv1lvUrkKfCcVqmalwOYmqdZS06ziqo1C8+yNpi6h1LaX2knD1LnWG6YIujV01ldi8YQdJXcYxLDY28JzCnQZjrBrayCf8Rv0wnfj987IoDE1blDIOGWy6iScK5yi/ZE4ipba06sdriYX7OCoByjT1BUGnKR6dRmuLbR3B02AbMLXj6VHfsixDLkXq6RzCObanXaMYkGxsJzh1Ns1j49veNvvWNVxbYt/YtCNNL32+/QxjELYKO0m/mT+wjxYD1F/lGKzE723H08tveVxHSorMVzEiqmh8/mP3kzFgDTf7B/b3kOlvbXbbxINpsh+JRNbkVxb0iVYggjQ737DF1l1+/GNy5FR6fwXiy1aak2DHQi/PnYePzEr8NwFqwcK2VgWCk7X3AP3zmV4bW+GQxOhI9J6XwCpeoCNUdQfBhvf39JzZweOf14ZqjJSW5nuj9OopZK6Vsy3u6XbKADqVXX9NrA37pcYrhlCqMwxFrvbI5VWC6fmRwGzbnbsl9jqADh1stQC1z+V1uDY+gkN8eSwLoG3zC4NxmDc/S0iTTeqv+CdMktmed8Z4aFLDOhtc7WJFgeR1PlM6Rrabbirt1rKlNTfQFbAajqhdez0mbC3PbyuRY6zVim9O5TKD5Yxw9iofst73iK5tJWOqKgVVGu7eMrKlS8tireoRulQiEIS0QWscDc/ux0jaCCxWPHYt8CTduV1t3nUfflLbC0gVGmqv8xe3qvvKvhS307x7EWl9gxqRfmCQfC30mHPKm6Ojj/FFlTqhSOtYDbwOst0q3TQ3uJmKlEstgRtLbBNlQA8hObkiqtcl6HKIKCxnHxTAXFpFxONU3AbWMUKLMrAta+0hQ7kBP8Ai51DtvI2LrqGBJsBFMwRQpYSuxtHOLBhGhFOW/Apc0sUpAsYSqw+HIUDuhG0Q9gVbtZJVUizOdZJTEFjl7ok2UGdGK02jFJpkqgQJziFYhdDYytwzdYKMxYkBVUEkk7AAbmWnF+EYmnTDVaFVENrO6Oq3OwuRofGT8T1JlbmqK1KjW1N7y1w7BVH3ra31kfhvDatWnVqIoKUFVqhJAyg5gtgfzElToJynt1msOwb3+UacG+CIzS5JdZrWt5e49Y2z5QPn5E/T1iqNKpV+IaSFxTRqjkFRlRfzMcxGg7rmM8UwVWgtE1Vy/GQVU1BJRtiQPynuMVY5E/KmQ8aouBvyPpItAcye3105ztc315b/flEmrZALban6e0vimlQkpJyGK/5j4xpRc2lvxLo7iaNdMO1Mmq6qyohDsQwJGi87KTaO0uiWOuL4PEf7b/SW8IrsbNHfmNLek0vQ7irI/w21FyRr28pU4PhtWp8fKmuHRnq5iFKKtwwIO7aHq76GQ6NQhsy6EG8yzi2qZanvsetY/E0nQg7691rEgzG4rCZmOR2HmT485VJxhnGQXJZgABqSSbADxNvWRsbialB2p1FdHSwZW0YXGYXHgVPnKfik3dE/LS5FY/BMN2vK58QqEkC55ePbGMTjDyJ3iuHcDxOIBahh6tQDQsqswB7L2tfumnHidblcpuRXu5Yknc6xFo82HcVPhsrK+bLlYFWDE2sQdQbmSuNcHq4Ws9CqAHQAsFIYLcBhcjuIPnNAhXwhLEcGq/hji8o+CKnwrkgEvlDWC7kWO8AIVM9Ya2745h0B+9trfOdoYGq4zJTdl/UqMwv4gSVR4dXBv8ABq/6H+kV8Dwa1KyVw9RmW2gJ17pPXWod+XrYSswzFXCspUi4IIKkaXNwdRLilSGjcwPv95izbPc6GOSa2JODQgevzk+u/UI7pXK4AAvrE0XJe19ANpjcLdlyY3h6dizMNJY4XEq1rSJiHspEicOxnWy284zi5xbCyTxRQ1RQduyKp0Lc49iKYJzHcSHUrgG0E24qKIstAwHOEpKlYAnX5wkfCQQaGGcv1QWJvZVBY9uw1/tDF4WooLNTdB+pkdR6kWkrC4+rQb4lF2RwCA62uAd94xxLpJjMSmSviHqJmDZWItcXsdAO2dGCUlbME206RougNFkw+PxVFc+Ko06Yo2GZkDlhUdV5sFHZplI2MndEcfiThsfVxtSq+FNBk/zmdg9ZjZRTzn824OXmV7BKP/DvA1qmL/ysQ2HK03ZqiAE5Vy3BU6Mtyuh7jKbjnSDFYsg4iu9QDVVNgo78qgKDY72vL1wZ26Zt8UcJR4LiGwhrla9enSZq+QMclnOXIB1LZhrre8m8E6W47+FYzFvVLGm1KnROSioU5lVyAqANYOu99vGZxcTh8RgsBgPxCUiHrVa7utQLTN2KC5UBmysQADa4GustMD0pwb5+GG9Ph7UvhpWYdb4obOK7jlmfW3KwvbW0kFnicLjlwePr4uolSvXWhhqZRqZGVqhVlPw1AB65O2sy3+LGIAx5pr+WhSpUR3WXP/8AqaTovgAMJw6grXFfHtWJAIzpQz7q2oB+Gp1nnvSvFfiMfiHLWV67DNuAobKD4BQIMk0XTr/KwXCsPsVoNVZe+oVYXHiHHrMtwTCmtiaFL/5KiIfAuAfa83nTEcMxmISqeJqiJTWkqLh6zkKt9mAsLljyiOhPDsAeI4b8LWrVTT+JUqPURUTKqELkH5gcxG/dCgEf4j8Hx68RbFU6dVQ7qlBqTXc5aQU5AhzKLK3IbntkvC8RxHDEavjsZVqYkqfg4I16lQKWFhUxAzEAC9wv77ZzonxTE1MfUFD4rDEu71KdOotF6i3d7fEJGUjMdQQdTNe/Q6kxLHhFcsSSScdRJJOpJOfUyQKnoZiadPhvEMTiVeotaolJgrBXYk5m6x0Fy5J85ka5SpWy4VHVHdVpozBn62VVUte1y3fzmv6f8Op4bA4ekiVKBqVWdsO1b4yrkUrm6pK3OZDp2zKcAqYZC5xNB6wsMoSoaZU3NySN+USVcMlGhwXBqfDXXE4+onxKZD0sEjBqjONUNUrcIgIv3keRkdKOB/xMvxDAurh1DVqDOq1KLKqhtGIBWy3vfttcEWX0cwXCcWa9sFWRaFFqzM1diDltZdOZ117pTpxLhHLh+I23/EHYjWNskQY/DoGdVZsqsygsf5QSAW8gbz0jp/Wx9LGpg8GK9KjTRFoJQNRA91Us11tnbMSCTtY95PnOKKl2KLlQsxVScxVSeqCeZAtrPSMLV4knBTiRisQoDBUQZdKGi585XOovcAhgALWggH+ktFa/HMDSurVVWgMQwsQzoS7g255BbzHZFYrGn4fHsX+t0w6H/uNNv/EofKZ/hHDquEwK8XVnFcVitO4VkKMrI7uGFySS4BvvaS+F4nB1eFfhq2OXD1amIavUvTqVCQAVCkIOZCtvykgedienYn8HR4RgKOMGI/zTVrqMP8O98xCljUG2R1275nsbw3hSU2yYyviKuUhFSiaaF7dXMXF8t7XtrNj0zsTT4bSwP4mvSwlNVqBmzUuqASEAtp1TcndhAgwXAuk2PpKuHwtaoASctNFViWOpsMpJO5mv6BdJuI4niFOjVxFT4almqqwQWVFJIbqgjrZVPjE/4adEcXRx6Vq+GqIlNKjAstrtkKqo7+t7SBwjhvFcOcUwwNRqmJRkaoVYMgckuUsdySPQQJM9xHiHx8XWr/8AyVGYf9JYlf8AxtJSYsqLWvrKdsM9GoadRSrobMp0Km2xlnSXMR3azJmir3NmB2ifQTMQTpJTKiAtaQ1xBDWtJGJYlD4TDJO0ujWRji1e+hi8JQTNmA1jOHQZRePrWRY8lVqIHOI49lNgIxRXOQWEMSgcg8uUaeswawOkaKWmlyBZ/DQ8hCIRzaEqpkFSpDLpI7YbKJWLjXAsG08B9INjXO7ew+k6SxST2ZgeVPo3HRzibYLO60kqF6Zpsr5rZXIZxp22UHwi16UUSbfwrA/6GmKqcVrNu/O+yj5CNrjnBuDqe4fSWpNIzNOzQ8axq4kqy4ajh8gIK0Vyhrkatfci1h4mVVGjdrSH+Pqfq37l+kSuMcG4OvgPpCmK4ys2nDelNfDvhmKI4wqVEorquXOoDMWF8zW+ZmOWmS1tz2/vEtxCod29l+kbp12U3B18oUxqZLqYc3tLXo5xlsE1Z1QO1Si1K5JGQPa7AAanQSi/GP8Aq9h9Ik4ljfXfuH0gk0TTL7oj0gOAr/HWmtQ5GQKxK2zZbtcDewI85YnpXg//AKjD/wCupMaKhta+nlOGoe2SFM1XEcXSxGRqWFp4cLmzCmzNnJy2zFtrWO36jGEw9uW8oaONdPytbyB+Yj38Vq/q9l+kqnjlJ7MdOjQ4PjDYWli6KoGOJRKZcsQUUFs1hbrZg1txa0qVoZaeY7te0gVMe7fma/kv0nauOdrBmuBtounoI2mVJE3EncMrihUSs9Baygtem98jGxy5rb2NjbY2l1R6dYk4hq1f/MpuppvhwTTpNTsctMAXyqCfEi4N7mZduIVCuUt1eyy/SMfGbt+UdX2K66Non+IuJNSoaiUqlB0FM4VltQVFvkCKPykE78/IWxrG5JsBc3sNh3DujeYwzGSKS8G2V0YqGysrZToGsQcpPK9rectON9JK1fF1cWpai9TKD8NmWyhVULmFiRZVlF8VtrxF5AUy1/j+K/4qv/u1P/aH8fxX/FV/92p/7SqvC8kCRVrM7FmYszG7MxLMT2knUmWXDsX/ACNvyP7GUt4pahBBB1EWUVJUyyE3F2i/xTsDdb98t8M91F/eZL+I1P1ey/Sd/idX9Z9B9Jml47kktjSvJiumafE1Mu0hszMui6/1lD+OqfrPtFrxOqNmt5L9ILx2ltRP8mPpmkdSFA52lRjEa+l5BbiNU7ufaJ/HVP1H2+kaGCUXewPyItVTNBQzZRvCUP8AE6v6vZfpCR8Ev0R/Jj6IcIQmoxhCEIAEIQgAQhCABCEIAEIQgAQhCABCEIAEIQgAQhCABCEIAEIQgAQhCABCEIAEIQgAQhCABCEIAEIQgAQhCABCEIAEIQgAQhCABCEIAEIQgAQhCABCEIAEIQgAQhCABCEIAEIQgAQhCABCEIAEIQgAQhCAH//Z');
    background-position: center;
    background-size: cover;
}

.img_team_rule {
    background-image: url('http://t1.daumcdn.net/brunch/service/user/2PTR/image/3p5tXjDPnHA7QGjOs5sl6a2Emt8');
    background-position: center;
    background-size: cover;
}

/* 모달 크기, display none 이다가 버튼이 눌려지면 밑에
modal.show가 불리면서 모달창이 켜짐*/
.modal {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 50;
    display: none;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal.show {
    display: block;
}

.modal-container {
    /* 종이 질감을 백그라운드에 넣음*/
    background-image: url("../../static/image/source/old_paper.jpeg");
    background-size: cover;
    color: dimgray;
    /* 보더라인에 액자 이미지를 넣음 (올드게임 스테이터스)*/
    border-style: solid;
    border-width: 40px 40px 40px 40px;
    -moz-border-image: url("../../static/image/source/border_image.png") 42 44 44 44 repeat repeat;
    -webkit-border-image: url("../../static/image/source/border_image.png") 42 44 44 44 repeat repeat;
    -o-border-image: url("../../static/image/source/border_image.png") 42 44 44 44 repeat repeat;
    border-image: url("../../static/image/source/border_image.png") 42 44 44 44 repeat repeat;
    /* 모달을 페이지 가운데 올 수 있도록 비치*/
    position: absolute;
    width: 600px;
    height: 800px;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);
    transform: translateX(-50%) translateY(-50%);
}

.modal-body {
    width: 100%;
    height: 50%;
}


.modal-header {
    display: flex;
    width: 100%;
    height: 40%;
    justify-content: space-between;
}
.team-image {
    border: 3px solid gray;
    width: 200px;
    height: 300px;
}

.name-strong-point {
    margin-left: 60px;

}

.name {
    color: cornflowerblue;
    margin-top: 30px;
    font-weight: bold;
    font-size: 50px;
}

.nickname {
    margin: 60px 0 0 5px;
    font-size: 35px;

}

.blue-status-category {
    margin-top: 30px;
    color: cornflowerblue;
    font-size: 40px;
    width: 100%;
}

.modal-body-row1 {
    width: 100%;
    display: flex;
}

.modal-body-row2 {
    width: 100%;
    display: block;
}

.status-content {
    margin-top: 30px;
    color: dimgray;
    font-size: 40px;
}

.text_shadow {
    text-shadow: 0 0 5px black, 0 0 50px black;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

/* 타이핑 애니메이션 */
.text1, .text2, .text3, .text {
    display: inline;
    vertical-align: middle;
    border-right: .05em solid white;
    animation: cursor 0.2s ease infinite;
}

.intro_font {
    font-size: 23px;
    margin-right: 30px;
}

.x-button {
    font-size: 60px;
    margin-left: 60px;
    cursor: pointer;
}